<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <div class="wrap">
        <div class="navbar">
            <ul>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    @if (ViewBag.CurrentUrl == "~/Income/Index")
                    {
                        <a asp-controller="Income" asp-action="Index" class="underline">수입</a>
                    }
                    else
                    {
                        <a asp-controller="Income" asp-action="Index">수입</a>
                    }

                    @if (ViewBag.CurrentUrl == "~/Expense/Index")
                    {
                        <a asp-controller="Expense" asp-action="Index" class="underline">지출</a>
                    }
                    else
                    {
                        <a asp-controller="Expense" asp-action="Index">지출</a>
                    }
                </li>
            }
            </ul>
            <ul>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <span>@User.Identity?.Name</span>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Home" asp-action="Index" asp-area="Admin">관리자</a>
                    }
                    <span>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                             <button class="addbutton" type="submit">로그아웃</button>
                        </form>
                    </span>
                </li>
            }
            else
            {
                <li>
                @if (ViewBag.CurrentUrl == "~/Account/Register")
                {
                    <a asp-controller="Account" asp-action="Register" class="underline">회원가입</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Register">회원가입</a>
                }

                @if (ViewBag.CurrentUrl == "~/Account/Login")
                {
                    <a asp-controller="Account" asp-action="Login" class="underline">로그인</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login">로그인</a>
                }

                @if (ViewBag.CurrentUrl == "~/PlanApi/Index")
                {
                    <a asp-controller="PlanApi" asp-action="Index" class="underline">익명게시판</a>
                }
                else
                {
                    <a asp-controller="PlanApi" asp-action="Index">익명게시판</a>
                }
                </li>
            }
            </ul>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
